<!--HTML for the display of each user in the students and teacher page -->
<li>
  <%= gravatar_for user, size: 50 %>
  <%= link_to user.name + " " + user.last_name, user %>
  <br>
  <%= user.email %>
  <% if current_user.admin? && !current_user?(user) %>
    <br>
    <%= button_to "Delete", user, method: :delete, form_class: "btn btn-danger", data: { confirm: "Are you sure?" } %>
    <%= button_to "Make Admin", user, form_class: "btn btn-info", data: { confirm: "Are you sure?" } %>
    <% if user.teacher? && !user.activated?%>
     <%= button_to "Activate Teacher",edit_account_activation_url(user), form_class: "btn btn-success" %>
     <% end %>
  <% end %>
</li>