<!-- Display for each users profile -->
<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
        <%= @user.last_name %>
        <br>
        <%= @user.dob %>
        <br>
        <%= @user.facebook_ID %>
        <%= @user.email %>
      </h1>
    </section>
  </aside>
</div>