<% provide(:title, "My Lessons") %>
<h1>Your Current Lessons</h1>

<a href="<%= new_lesson_path %>" class="btn btn-success" role="button">Add Lesson</a>
<br><br>

<table class="table table-hover" summary="Lessons">
  <thead>
  <tr class="header">
    
  <th>Lesson With</th>/th>  
  <th>Day</th>
  <th>Time</th>
  <th>Type</th>
  </tr>
  </thead>
  
  <tbody>
  <% @lessons.each do |lesson| %>
  <% if lesson.student_email == current_user.email %>
  <tr>
    
    <td><%= lesson.user_email%></td>
    <td><%= lesson.day%></td>
    <td><%= lesson.lesson_time%></td>
    <td><%= lesson.lesson_type%></td>

      <% end %>
  </tr>
  <% end %>
  <% if lesson.user_email == current_user.email %>
  <tr>
    
    <td><%= lesson.student_email%></td>
    <td><%= lesson.day%></td>
    <td><%= lesson.lesson_time%></td>
    <td><%= lesson.lesson_type%></td>

      <% end %>
  </tr>
  </tbody>
</table>