<% provide(:title, "Free Play Room") %>
<h1>Current Sessions in the Free Play Room</h1>
<h3><%= link_to "Add New Booking", book_session_path %></h3>
<br><br>

<table class="listing" sumarry="Free Play Room Bookings">
  <tr class="header">
  <th>User Email</th>
  <th>Date</th>
  <th>Time</th>
  <th>Duration</th>
  <th></th>
  </tr>
  
  <% @free_play_rooms.each do |free_play_room| %>
  <tr>
    <td><%= free_play_room.user_email%></td>
    <td><%= free_play_room.date%></td>
    <td><%= free_play_room.time%></td>
    <td><%= free_play_room.duration%></td>
    <td>
      <% if free_play_room.user_email == current_user.email %>
      <%= link_to("Edit", edit_free_play_room_path(free_play_room), :class => 'action edit') %>
      <%= link_to("Delete", delete_free_play_room_path(free_play_room), :class => 'action delete') %>
      <% end %>
    </td>
  </tr>
  <% end %>
</table>

