<% provide(:title, "Free Play Room") %>
<h1>Current Sessions in the Free Play Room</h1>

<a href="<%= book_session_path %>" class="btn btn-success" role="button">Add Booking</a>
<br><br>

<table class="table table-hover" sumarry="Free Play Room Bookings">
  <thead>
  <tr class="header">
  <th>User Email</th>
  <th>Date</th>
  <th>Time</th>
  <th>Duration</th>
  <th></th>
  </tr>
  </thead>
  
  <tbody>
  <% @free_play_rooms.each do |free_play_room| %>
  <tr>
    <td><%= free_play_room.user_email%></td>
    <td><%= free_play_room.date%></td>
    <td><%= free_play_room.time%></td>
    <td><%= free_play_room.duration%></td>
    <td>
      <% if free_play_room.user_email == current_user.email %>
      <a href="<%= edit_free_play_room_path(free_play_room) %>" class="btn btn-info" role="button">Edit</a>
      <a href="<%= delete_free_play_room_path(free_play_room) %>" class="btn btn-danger" role="button">Delete</a>
      <% end %>
    </td>
  </tr>
  <% end %>
  </tbody>
</table>

