<% provide(:title, "Book Freem Play Room") %>
<h1>Book Free Play Room Session</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
  
  <%= form_for(@free_play_rooms) do |f| %>
  
  <%= f.hidden_field :user_email, :value => current_user.email, class: 'form-control'%>
  <%= f.hidden_field :user_id, :value => current_user.id, class: 'form-control' %>
  
  <%= f.label :date %>
  <%= f.date_field :date, class: 'form-control', placeholder: "DD/MM/YYYY"%>
  
  <%= f.label :time %>
  <%= f.text_field :time, class: 'form-control', placeholder: "HH:MM"%>
  
  <%= f.label :duration %>
  <%= f.text_field :duration, class: 'form-control', placeholder: "H"%>
  
  <%= f.submit "Create Booking", class: "btn btn-primary" %>
  <% end %>
  </div>
</div>