<% provide(:title, "My Availabilities") %>
<h1>Your Current Availabilities</h1>

<a href="<%= new_availability_path %>" class="btn btn-info" role="button">Add Availability</a>
<br><br>

<table class="table table-hover" sumarry="Free Play Room Bookings">
  <thead>
  <tr class="header">
  <th>Day</th>
  <th>Time</th>
  <th>Duration</th>
  <th></th>
  </tr>
  </thead>
  
  <tbody>
  <% @availabilities.each do |availability| %>
  <% if availability.user_email == current_user.email %>
  <tr>
    <td><%= availability.day%></td>
    <td><%= availability.time%></td>
    <td><%= availability.duration%></td>
    <td>
      <%= link_to("Edit", edit_availability_path(availability), :class => 'action edit') %>
      <%= link_to("Delete", delete_availability_path(availability), :class => 'action delete') %>
    </td>
      <% end %>
  </tr>
  <% end %>
  </tbody>
</table>
