<% provide(:title, "Add New Availability") %>
<h1>Add New Availability</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
  
  <%= form_for(@availabilities) do |f| %>
  
  <%= f.hidden_field :user_email, :value => current_user.email, class: 'form-control'%>
  <%= f.hidden_field :user_id, :value => current_user.id, class: 'form-control' %>
  
  <%= f.label :day %>
  <%= f.text_field :day, class: 'form-control', placeholder: "Friday"%>
  
  <%= f.label :time %>
  <%= f.text_field :time, class: 'form-control', placeholder: "HH:MM"%>
  
  <%= f.label :duration %>
  <%= f.text_field :duration, class: 'form-control', placeholder: "H"%>
  
  <%= f.submit "Add Availability", class: "btn btn-success" %>
  <% end %>
  </div>
</div>
